@import url('https://fonts.googleapis.com/css2?family=Anton&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
:root{
    --yellow: #ffdb70
}
*{
    margin: 0;
    padding: 0;
}
*:not(html,body,.about, .about *){
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #121212;
    color: white;
    font-family: 'Gabarito', sans-serif;
}
a{
    color: white;
}
.nav-app{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto 0;
    padding: 15px;
    backdrop-filter: blur(2px);
    background: rgba(18, 18, 18, 0.8);
    animation: fromtop .5s ease-in-out;
}
.username h4{
    font-size: 1.4rem;
    color: var(--yellow)
}
.github-icon a i{
    font-size: 2rem
}
nav{
    list-style: none;
    display: flex;
}
nav li a{
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}
nav li a:after{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--yellow);
    left:0%;
    bottom: -6px;
    border-radius: 20px;
    transition: transform .3s;
}
nav li a:not(.active)::after{
    transform: scaleX(0);
}
nav li a:hover::after{
    transform-origin: center;
    transform: scaleX(1);
}
.about{
    margin-top: 75px;
}
.main-about{
    width: 50%;
    height: auto;
    padding: 15px;
    margin: 0 auto 0;
    background: #1e1e1f;
    border-radius: 20px;
    border: 1px solid #383838;
}
.main-about .personal-image img{
    width: 231.33px;
    height: 231.33px;
    border-radius: 100%;
    animation: fromdown .5s ease-in-out;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text p:not(:last-child){
    margin-bottom: 20px;
    min-width: 20px;
}
.main-about header div{
    width: 150px;
    height: 3px;
    margin-left: 5px;
    background: var(--yellow);
}
.main-about header{
    display: flex;
    align-items: center
}
.text{
    max-height: 235px;
    overflow-y: auto;
    overflow-x: hidden;
}
.text p:first-child{
    animation: hide 500ms, fromright .5s ease-in-out 500ms;
}
.text p:last-child{
    animation: hide 700ms, fromright .7s ease-in-out 700ms;
}
.text::-webkit-scrollbar{
    display: none;
}
.languages{
    margin: 0;
    margin: 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-evenly;
    gap: 40px 0px;
}
.lang{
    width: 200px;
    height: 81px;
    border: 1px solid var(--yellow);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0px;
}
.lang-info h4{
    display: none;
    transition: filter .5s;
    color: var(--yellow);
    /* margin-top: 10px; */
}
.languages .lang .lang-icon img{
    width: 32px;
    height: 32px;
    margin: 0 20px 0;
    transition: .3s;
}
.lang-icon{
    height: 100%;
    display: flex;
    align-items: center;
}

.lang:hover .lang-icon img{
    transform: scale(1.2);
    
}
.lang:hover .lang-info h4{
    display: block;
}
@media (max-width:768px){
  .languages{
      grid-template-columns: repeat(2, 150px);
  }
  .main-about{
    width: auto;
  }
  article{
    grid-template-columns: 1fr;
    place-items: center;
  }
  .lang{
    width: 150px
  }
  .languages .lang .lang-icon img{
    width: 32px;
    height: 32px;
  }
  .lang-info{
    font-size: 0.8rem
  }
  nav{
    flex-direction: column
  }
  nav li a{
    margin-left: none;
  }
  .nav-app{
    width: 95%;
  }
  .about{
    margin-top: 107px;
  }
}
@keyframes hide{
    from{
        opacity: 0;
    }
    to{
        opacity: 0;
    }
}
@keyframes fromtop{
    from{
        opacity: 0;
        transform: translateY(-20%)
    }
    to{
        opacity: 1;
        transform: translateY(0%)
    }
}
@keyframes fromdown{
    from{
        opacity: 0;
        transform: translateY(25%)
    }
    to{
        opacity: 1;
        transform: translateY(0%)
    }
}
@keyframes fromleft{
    from{
        opacity: 0;
        transform: translateX(-15%)
    }
    to{
        opacity: 1;
        transform: translateX(0%)
    }
}
@keyframes fromright{
    from{
        opacity: 0;
        transform: translateX(100%)
    }
    to{
        opacity: 1;
        transform: translateX(0%)
    }
}
